*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 1.0625em;
  line-height: 1.45;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0 auto;
  min-width: 24em;
  background-color: #eee;
}

body > header {
  background-color: #222;
}

body header h1 {
  margin: 0 auto;
  padding-top: 0.5em;
  background-image: url(https://topdocumentaryfilms.com/wp-content/themes/topdocs/images/site-logo-v4.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -835em;
}

body > header > nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

body > header > nav > ul li {
  flex: 1;
  padding: 0.3125em 0.625em;
  list-style: none;
}

body > header > nav > ul li:first-child{
  background: linear-gradient(140deg,#1c9edc 0,#1c9edc 10%,#1b96d1 10%,#1b96d1 20%,#198bc2 19%,#198ec6 21%,#198ec6 20%,#198ec6 30%,#1783b7 29%,#1886bb 31%,#1886bb 30%,#1886bb 40%,#167bac 39%,#177eb0 41%,#177eb0 40%,#177eb0 50%,#1573a1 49%,#1576a5 51%,#1576a5 50%,#1576a5 60%,#136b96 59%,#146e9a 61%,#146e9a 60%,#146e9a 70%,#12638b 69%,#12668f 71%,#12668f 70%,#12668f 80%,#105b80 79%,#115f84 81%,#115f84 80%,#115f84 90%,#0f5475 89%,#105779 91%,#105779 90%,#105779 100%) #1c9edc;
}

body > header > nav > ul li:nth-child(2){
  background: linear-gradient(140deg,#43b74d 0,#43b74d 10%,#3fae49 10%,#3fae49 20%,#3ba144 19%,#3ca546 21%,#3ca546 20%,#3ca546 30%,#379840 29%,#399c42 31%,#399c42 30%,#399c42 40%,#348f3c 39%,#35933e 41%,#35933e 40%,#35933e 50%,#318638 49%,#328a3a 51%,#328a3a 50%,#328a3a 60%,#2d7d35 59%,#2f8036 61%,#2f8036 60%,#2f8036 70%,#2a7431 69%,#2b7732 71%,#2b7732 70%,#2b7732 80%,#276a2d 79%,#286e2e 81%,#286e2e 80%,#286e2e 90%,#236129 89%,#25652b 91%,#25652b 90%,#25652b 100%) #43b74d;
}

body > header > nav > ul li:nth-child(3){
  background: linear-gradient(140deg,#dea200 0,#dea200 10%,#d39a00 10%,#d39a00 20%,#c48f00 19%,#c89200 21%,#c89200 20%,#c89200 30%,#b88700 29%,#bd8a00 31%,#bd8a00 30%,#bd8a00 40%,#ad7f00 39%,#b28200 41%,#b28200 40%,#b28200 50%,#a27700 49%,#a77a00 51%,#a77a00 50%,#a77a00 60%,#976e00 59%,#9c7200 61%,#9c7200 60%,#9c7200 70%,#8c6600 69%,#906a00 71%,#906a00 70%,#906a00 80%,#815e00 79%,#856100 81%,#856100 80%,#856100 90%,#765600 89%,#7a5900 91%,#7a5900 90%,#7a5900 100%) #dea200;
}

body > header > nav > ul > li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

body > header > nav > ul > li > a {
  text-decoration: none;
  color: #fff;
}

body > header > nav > ul > li > a:hover {
  color: #0f0f0f;
}

body > form {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,.3);
  color: #f9f9f9;
  background-color: #fff;
  border-radius: 0.3125em;
  margin: 0.5625em 0.5625em;
}

body > form > input {
  font-size: 1em;
  border: none;
  width: 90%;
  padding: 0.3125em 0 0.3125em 0.5625em;
}

body > form > button {
  font-size: 1em;
  border: none;
  background-color:white;
}

body > section:first-of-type {
  display: flex;
  justify-content: space-between;
  padding: 0.625em 0.9375em;
}

body > section:first-of-type > header > h2 {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.9;
  margin: 0;
  letter-spacing: -.02em;
}

body > section:nth-child(5) > header > h2 {
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.9;
  margin-top: 0;
  border-bottom: 1px dotted #ccc;
  /* padding-bottom: 0.3125em; */
  letter-spacing: -.02em;
}

body > main {
  padding: 0 0.6em;
}

body > section {
  margin: 0.5em 0.6em;
  background-color: #fff;
  border: 0.0625em solid #d3d3d3;
  padding: 0.9375em;
}

body > section > form > input[type=text] {
  margin-right: 0.125em;
  padding: 0.375em 0.625em;
  line-height: 1.2;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  width: 58%;
  font-weight: 400;
  font-size: 1em;
}

body > section > form > input[type=submit] {
  padding: 0.3125em 0.75em;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #4CA454;
  line-height: 1.4;
  border-radius: 0.3125em;
  border: 0;
}

body > main > article {
  background: #fff;
  border: 0.0625em solid #d3d3d3;
  padding: 1.25em;
  margin-bottom: 0.5em;
}

body > main > article a > img {
  width: 5.9375em;
  height: 7.8125em;
  float: left;
  margin-right: 1.25em;
  margin-bottom: 0.625em;
}

body > main > article > header > a {
  text-decoration: none;
  color: #222;
}

body > main > article > header > a:hover {
  color: #4472B9;
}

body > main > article > header > a > h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.1;
  letter-spacing: -.01em;
}

body > main > article > p:first-of-type {
  font-size: 0.75em;
  color: #999;
}
body > main > article > footer {
  display: flex;
  justify-content: space-between;
}

body > main > article > footer > a {
  /* flex: 3; */
  color: #4472B9;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

body > main > article > footer > a:hover {
  color: #333;
  border-bottom-color: #999;
}

body > main > article > footer > p {
  /* flex: 1; */
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #333;
}

body > main > article > footer > p > span {
  color: #ffa822;
}

body > main > nav {
  background-color: #fff;
  border: 1px solid #d3d3d3;
}

body > main > nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

body > main > nav > ul > li {
  list-style-type: none;
}

body > main > nav > ul > li:nth-child(1) a {
  color: #fff;
  background-color: #5f87ae;
  border: 1px solid #89adcf;
}

body > main > nav > ul > li:nth-child(4) a {
  border: none;
  background-color: transparent;
  padding: 0;
}

body > main > nav > ul > li  a {
  text-decoration: none;
  color: #666;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 0.1875em 0.625em;
  margin-right: 0.3125em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

body > aside {
  margin: 0.5em 0.6em;
  background-color: #fff;
  border: 0.0625em solid #d3d3d3;
  padding: 0.9375em;
}

body > aside > article {
  display: flex;
  border-bottom: 1px dotted rgba(0,0,0,.3);
  margin-bottom: 0.9375em;
  padding-bottom: 0.9375em;
}

body > aside > header > h2 {
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0.625em;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0.3125em;
}

body > aside > article > img {
  /* flex: 1; */
  width: 5.9375em;
  height: 7.8125em;
  margin-right: 0.9375em;
}

body > aside > article > div > h3 {
  margin: 0;
  font-size: 0.875em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

body > aside > article > div > p:first-of-type {
  /* font-size: 0.625em; */
  margin-top: 0.625em;
  margin-bottom: 0.5625em;
  font-size: 0.75em;
  color: #999;
}

body > aside > article > div > p:nth-child(3) {
  margin-top: 0.25em;
  font-size: 0.875em;
}

body > aside > article > div > p > span {
  color: #ffa822;
}

body > aside > nav {
  display: flex;
}

body > aside > nav > ul {
  flex: 1;
  /* width: 50%; */
  margin: 0.25em 0 0 0;
  padding: 0;
}

body > aside > nav > ul > li {
  list-style: none;
}

body > aside > nav > ul > li > a {
  margin: 0 0.625em 0.625em 0;
  padding: 0.125em 0.625em;
  color: #222;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #efefef;
  font-size: 0.8125em;
  border: 1px solid #ccc;
  display: block;
}

body > aside > nav > ul > li > a:hover {
  color: #fff;
  background-color: #4472B9;
}

body > footer > section {
  background-color: #151515;
  margin-left: 0.625em;
  margin-right: 0.625em;
  padding: 0.625em;
}

body > footer > section:first-child {
  margin: 0 0.625em 0.625em 0.625em;
  padding: 0.625em;
}

body > footer > section:nth-child(2) {
  margin: 0 0.625em 0 0.625em;
  padding: 0.625em;
}

body > footer > section > header > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0625em;
  text-transform: capitalize;
  margin: 0 0 1.0625em 0;
  padding: 0;
}

body > footer > section > p {
  margin: 0 0 1.0625em 0;
  color: #999;
}

body > footer > section > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1.0625em 0;
  padding: 0;
}

body > footer > section > ul > li {
  margin-right: 1.25em;
  list-style-type: none;
}

body > footer > section:nth-child(1) > ul > li > a {
  font-size: 1.375em;
}

body > footer > section:nth-child(2) > ul {
  margin: 0;
}

body > footer > section:nth-child(2) > ul > li > a {
  font-size: 0.875em;
  font-weight: 700;
}

body > footer > section > ul > li > a, body > footer > section h2 {
  text-decoration: none;
  color: #fff;
}

/* BREAKPOINT 1 - TABLET */

@media (min-width: 37em) {

  body {
    max-width: 46em;
  }

  body > header {
    padding: 0 1.25em 0.8125em;
    background-color: #222;
  }

  body header h1 {
    margin: 0.25em auto 0;
    padding-top: 0;
    background-image: url(https://topdocumentaryfilms.com/wp-content/themes/topdocs/images/site-logo-v4.svg);
    background-repeat: no-repeat;
    background-position: left;
    text-indent: -835em;
  }

  body > header > nav > ul > li {
    flex: none;
    border-radius: 0.1875em;
    margin-right: 0.3125em;
  }

}

/* BREAKPOINT 2 - MOBIEL */

@media (min-width: 58em) {

  body {
    max-width: 63em;
    background-color: gold;
  }

}
